@inherits LayoutComponentBase

<header class="topNavBar">
    <h1>Marcelo Zometa</h1>

    <nav id="topNavBar">
        <ul>
            <a href="/">Home</a>
            <a href="/resume">Resume</a>
            <a href="/skills">Skills</a>
        </ul>
    </nav>
</header>

<div class="main" style="border:2em">
    <div class="content px-4">
        @Body
    </div>
</div>
