<header class="topNavBar">
    <a href="">Home</a>

    <nav id="topNavBar">        
        <a href="resume">Resume</a>
        <a href="skills">Skills</a>
        <a href="posts">Posts</a>        
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
