@page "/advent-of-code-10"
<h3>Advent of Code Day 10: Part 2 Solution</h3>
<br />

    This is a tutorial on how I solved the Day 10 Part 2 task of the Advent of Code Challenge

<br />
<br />

<h5>Challenge:</h5>
<br />

    The typical Python class constructor "def __init__()" cannot be overloaded like in C based languages where you only need to change the amount of
    parameters assigned to it.
<br />
<br />

<h5>Solution:</h5>
<br />


<img src="images/pythonOverloading/calling.jpg" alt="Calling constructor from a module" style="margin:2em; justify-self:center" />
<br />
