@page "/javascript-millionaire-api"
<h3>How to make APIs in Node.js for the Millionaire Game</h3>
<br />
    This is the process followed for creating a Node.js API for the Who wants to be a 
    millionaire? application
<br />
<br />

<h4>Steps to create an API:</h4>
<br />
First, we need to create a new directory where this API will exist, so I ran this code in the 
terminal

<code>
    mkdir millionaire-api; cd millionaire-api;
</code>

Then, we can initiate a new javascript project by running <code>npm init</code>.

After that, we will now have a basic Node.js application with a <code>package.json</code>
file where all of the required packages will live. 

To create the API service, first we have to install the Express library using <code>npm i -g express</code>