@page "/personal-portfolio"
<h3>C# and SQL: Personal Portfolio</h3>
<br />

<h5>Objective:</h5>
<br />
    <ul>
        <li>
            Describe internal structure of personal portfolio
        </li>
    </ul>
<br />

<h5>Architecture:</h5>
<br />
    This personal portfolio is composed of 3 major parts:
    <ul>
        <li>
            <strong>Front End:</strong> Blazor Web Assembly project published on Github pages
        </li>
        <li>
            <strong>Back End:</strong> ASP.NET REST API published using Heroku
        </li>
        <li>
            <strong>Database: </strong> Postgres Database published using Heroku
        </li>
    </ul>
<br />
<br />

<h4>Breakdown:</h4>
<br />

<h5>Front End</h5>    
<br />

The front end is composed of a Blazor WASM (Web Assembly) project published in Github pages. This is possible thanks to it being a static 
page. Since Blazor WASM generate a static HTML file, it can be read and published as a static page by Github. 

The UI is composed of 3 main tabs:

<ol>
    <li>
        <strong>Resume:</strong>
        <br />
        In this section, the users can find my resume inside of an iframe tag, and they can even download it if so desired. 
    </li>
    <li>
        <strong>Skills</strong>
        <br />
        In this section, the users can find a list of all my different skills separated into 2 different categories: the present 
        skills and the skills in progress. 
    </li>
    <li>
        <strong>Posts</strong>
        <br/>
        In this section, the users can find a list of all my different skills applied into real world applications, and a brief 
        post explaining the projects. 
    </li>
</ol>

<h5>Back End</h5>

<img src="images/millionaire/start.jpg" alt="Dialog box to start new game" style="margin:2em; justify-self:center" />
