@page "/react-native-get-started"
<h3>React Native: Getting Started</h3>
<br />

    This is a tutorial for making a new app on React Native

<br />
<br />

<h5>Installation:</h5>
<br />

    To install and create a new react native app, you just need to follow the instructions listed on the
    documentation. In summary, install the React Native Library, run a command to create a new app,
    navigate to the directory and start the application

<br />

<img src="images/ReactNative/instal.jpg" alt="Instaliation commands" style="margin:2em; justify-self:center" />
<br />

    However, in my experience, running npm start will not generate an application that you can observe.
    What you need to do is to run the command "npm run web".

    This will start the application on your selected browser, allowing you to visualize and play with it.
    In addition, if you go the developer options, you can be able to display the app like it would
    render on a phone.
<br />

<img src="images/ReactNative/device.jpg" alt="How to access device settings" style="margin:2em; justify-self:center" />
<br />

    Something that caught my attention was the option of running this on an Android device.

<br />

<img src="images/ReactNative/android.jpg" alt="Options to run the project" style="margin:2em; justify-self:center" />
<br />

    On this regard, I have spent over 3 hours trying all the different options mentioned to run this device on an Android emulator
    or device and all of them have been futile. 

    After some research on Pluralsight, I discovered that the company in charge of this: Expo decided to remove certain
    options for running on Android for several reasons. It is a shame, but for the scope of this project, debugging on the browser 
    is not that bad and it is less complicated. 
<br />
<br />