@page "/react-native-layout"
<h3>React Native: Layout</h3>
<br />
    WIP
    This is a tutorial for designing layouts on React Native

<br />
<br />

You cant use css grid :(
you can use basic css and flexboxes
