@page "/technologies/{Slug}"
@inject Portfolio.Blazor.DataProvider.PublicAPIService service
@inject NavigationManager NavManager
@using Portfolio.Shared

<h3>@technology.Name</h3>

List of projects using this technology:

<DetailCategory Slug="@Slug" TypeOfCategory="technologies" />


@code {
    [Parameter]
    public string Slug { get; set; }

    private Technology technology = new Technology();

    protected override async Task OnInitializedAsync()
    {
        technology = await service.GetTechnologiesBySlugAsync(Slug);
    }
}
