@page "/technologies"
@inject Portfolio.Blazor.DataProvider.APIService service
@inject NavigationManager NavManager
@using Portfolio.Shared
@using Portfolio.Blazor.Shared

<h3>Technologies:</h3>

<Portfolio.Blazor.Shared.Category TypeOfCategory="technologies"/>

@code {
    
}
