@page "/languages/{Slug}"
@inject Portfolio.Blazor.DataProvider.PublicAPIService service
@inject NavigationManager NavManager
@using Portfolio.Shared

<h3>@Language.Name</h3>

List of projects using this language:

<DetailCategory Slug="@Slug" TypeOfCategory="languages" />

@code {
    [Parameter]
    public string Slug { get; set; }

    public Language Language = new Language();

    protected override async Task OnInitializedAsync()
    {
        Language = await service.GetLanguageBySlugAsync(Slug);
    }
}
