@page "/projects/{ProjectId:int}"
@using Portfolio.Shared

@inject Portfolio.Blazor.DataProvider.APIService service

<h3>@Title</h3>

<form>
    <label>Project Title:</label>
    <br/>
    <input type="text" @bind="Title" />
    <br />

    <label>Project Requirements:</label>
    <br />
    <textarea @bind="Requirements" />
    <br />

    <label>Project Design:</label>
    <br />
    <textarea @bind="Design" />
    <br />

    <label>Project Completion Date:</label>
    <br />
    <input type="datetime" @bind="CompletionDate" />
    <br />

    <button @onclick="SaveChanges">Save changes</button>
</form>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    public string Title { get; set; }
    public string Requirements { get; set; }
    public string Design { get; set; }
    public DateTime CompletionDate { get; set; }

    public Project Project { get; set; }

    /// <summary>
    /// it was needed to have separate properties for displaying 
    /// because the page loaded before oninitializedasync finished
    /// giving place to a null exception
    /// </summary>
    /// <returns>void Task</returns>
    protected override async Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();
        Project = await service.GetProjectByIDAsync(ProjectId);

        Title = Project.Title;
        Requirements = Project.Requirement;
        Design = Project.Design;
        CompletionDate = Project.CompletionDate;
    }

    public async Task SaveChanges()
    {
        Project.Title = Title;
        Project.Requirement = Requirements;
        Project.Design = Design;
        Project.CompletionDate = CompletionDate;

        await service.UpdateProjectAsync(Project);

        //await OnInitializedAsync();
    }

}
