@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration config
<h1>Marcelo Zometa's Portfolio</h1>

<img src="images/snowlogo.jpg" class="justify-content-lg-center" asp-append-version="true" alt="Marcelo Zometa's Resume" />
