@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration config

    <div class="align-content-center">
        <h1>Marcelo Zometa's Portfolio</h1>

        Github: <a href="https://github.com/MarceloZometaPortafolio">My Portfolio</a>
        <br/>
        LinkedIn: <a href="https://linkedin.com/in/marcelo-zometa">My Profile</a>
    </div>
