@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration config
<h1>Marcelo Zometa's Portfolio</h1>

Welcome to my online portfolio. The website is currently under construction so some functionality might be broken or non-existing.
<p>
    @config["ConfigValue"]
</p>

<img src="images/snowlogo.jpg" class="justify-content-lg-center" asp-append-version="true" alt="Marcelo Zometa's Resume" />
