@page "/posts"
<h3>Posts</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong><a href="xamarin">Xamarin.Forms</a></strong></td>
            <td>App developed for small business using Xamarin Forms, Shell Navigation and APIs</td>
        </tr>
        <tr>
            <td><strong><a href="erd">ERD Design for Sip It app</a></strong></td>
            <td>Database ERD to be used for the Sip It project</td>
        </tr>
        <tr>
            <td><strong><a href="data-input">Data Input and Scaffolding on C#</a></strong></td>
            <td>Inputting data to PostgresSQL and using Dotnet Scaffold to auto generate models on Dotnet API</td>
        </tr>
        <tr>
            <td><strong><a href="codewars-python">Codewars Python Kata 1</a></strong></td>
            <td>My take on the Duplicate Encoder Kata using Python</td>
        </tr>
        <tr>
            <td><strong><a href="codewars-python2">Codewars Python Kata 2</a></strong></td>
            <td>My take on the Find The Parity Outlier Kata using Python</td>
        </tr>
        <tr>
            <td><strong><a href="xamarin-shell-injection">Xamarin Shells and Dependency Injection</a></strong></td>
            <td>My report on the problems found when attempting Dependency Injection on Xamarin.Forms.Shell</td>
        </tr>
        <tr>
            <td><strong><a href="java-threading">How Java Threads work</a></strong></td>
            <td>Explanation on how I used threads to make a working Java project</td>
        </tr>
        <tr>
            <td><strong><a href="java-gas-station">Java Project: Gas Station</a></strong></td>
            <td>Breakdown of flow of the project Gas Station</td>
        </tr>
        <tr>
            <td><strong><a href="python-restaurant">Python Project: Restaurant</a></strong></td>
            <td>Breakdown of flow of the project Restaurant</td>
        </tr>
        <tr>
            <td><strong><a href="python-overloading-constructor">Python Constructor Overloading</a></strong></td>
            <td>Explanation on how to overload constructors in Python</td>
        </tr>
        <tr>
            <td><strong><a href="react-native-get-started">React Native: Getting Started</a></strong></td>
            <td>Explanation on how to get started using React Native and some key points</td>
        </tr>
        <tr>
            <td><strong><a href="react-native-layout">React Native: Layout</a></strong></td>
            <td>Explanation on some key points for designing the layout of your app in React Native</td>
        </tr>
        <tr>
            <td><strong><a href="javascript-millionaire">JS Project: Who Wants to be a Millionaire?</a></strong></td>
            <td>Deconstruction of project and findings</td>
        </tr>
        <tr>
            <td><strong><a href="javascript-millionaire-api">Node.js API for game app</a></strong></td>
            <td>Explanation on some key points for designing and implementing the API using Node.js</td>
        </tr>
    </tbody>
</table>

    @code {

    }
