@page "/posts"
<h3>Posts</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong><a href="xamarin">Xamarin.Forms</a></strong></td>
            <td>App developed for small business using Xamarin Forms, Shell Navigation and APIs</td>
        </tr>
        <tr>
            <td><strong><a href="erd">ERD Design for Sip It app</a></strong></td>
            <td>Database ERD to be used for the Sip It project</td>
        </tr>
        <tr>
            <td><strong><a href="data-input">Data Input and Scaffolding on C#</a></strong></td>
            <td>Inputting data to PostgresSQL and using Dotnet Scaffold to auto generate models on Dotnet API</td>
        </tr>
        <tr>
            <td><strong><a href="codewars-python">Codewars Python Kata 1</a></strong></td>
            <td>My take on the Duplicate Encoder Kata using Python</td>
        </tr>
        <tr>
            <td><strong><a href="codewars-python2">Codewars Python Kata 2</a></strong></td>
            <td>My take on the Find The Parity Outlier Kata using Python</td>
        </tr>
        <tr>
            <td><strong><a href="xamarin-shell-injection">Xamarin Shells and Dependency Injection</a></strong></td>
            <td>My report on the problems found when attempting Dependency Injection on Xamarin.Forms.Shell</td>
        </tr>
        <tr>
            <td><strong><a href="java-threading">How Java Threads work</a></strong></td>
            <td>Explanation on how I used threads to make a working Java project</td>
        </tr>
        <tr>
            <td><strong><a href="java-gas-station">Java Project: Gas Station</a></strong></td>
            <td>Breakdown of flow of the project Gas Station</td>
        </tr>
    </tbody>
</table>

    @code {

    }
