@page "/posts"
<h3>Posts</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong><a href="xamarin">Xamarin Forms</a></strong></td>
            <td>App developed for small business using Xamarin Forms, Shell Navigation and APIs</td>
        </tr>
    </tbody>
</table>

    @code {

    }
