@page "/posts"
<h3>Posts</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong><a href="xamarin">Xamarin.Forms</a></strong></td>
            <td>App developed for small business using Xamarin Forms, Shell Navigation and APIs</td>
        </tr>
        <tr>
            <td><strong><a href="erd">ERD Design for Sip It app</a></strong></td>
            <td>Database ERD to be used for the Sip It project</td>
        </tr>
        <tr>
            <td><strong><a href="data-input">Data Input and Scaffolding on C#</a></strong></td>
            <td>Inputting data to PostgresSQL and using Dotnet Scaffold to auto generate models on Dotnet API</td>
        </tr>
    </tbody>
</table>

    @code {

    }
