@page "/projects"

@using Portfolio.Blazor.CodeBase
@using Portfolio.Blazor.DataProvider
@using Portfolio.Shared 
@inject APIService service
@inject HttpClient client
<h3>@PageTitle</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Requirement</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in ProjectList?? new Project[] { })
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Requirement</td>
                <td>
                    <button @onclick="() => EditProject(project.id, service)">Edit</button>
                    <button @onclick="() => DeleteProject(project.id, service)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button @onclick="ShowAddComponent">Add</button>

@code{
    public bool isAddComponentDisplayed = false;



    protected override async Task OnInitializedAsync()
    {
        //return base.OnInitializedAsync();
        await GetAllProjectsFromDB();
    }

    public string PageTitle { get; set; }

    public IEnumerable<Project> ProjectList { get; set; }

    public void EditProject(int id, APIService service)
    {
    }

    public async Task DeleteProject(int id, APIService service)
    {
        await service.DeleteProjectAsync(id);
        StateHasChanged();
        await GetAllProjectsFromDB();
    }

    public void ShowAddComponent()
    {
        if (isAddComponentDisplayed is false)
        {
            isAddComponentDisplayed = true;
        }
        else
        {
            isAddComponentDisplayed = false;
        }
    }

    private async Task GetAllProjectsFromDB()
    {
        ProjectList = await service.GetProjectsAsync();
    }
}
