@page "/resume"

<h3>Resume</h3>

This a temporary solution for accessing the resume. When backend is fully functional there will be an option for download.
<br />
<br />

<img src="images/resume.png" class="justify-content-lg-center" asp-append-version="true" alt="Marcelo Zometa's Resume"/>

@code {

}
