@page "/skills"

<h3 class="text-primary">Skills</h3>

<h4>Present skills:</h4>
<br />
<ul>
    <li>.NET Framework</li>

    <p class="text-secondary">This skill is demonstrated with this website. It was built using Blazor Pages.</p>

    <li>SQL and SQL Tools</li>

    <p class="text-secondary">This website's contents will be retrieved from a database storage published on the cloud later on.</p>

    <li>REST APIs</li>

    <p class="text-secondary">The information present in this website will retrieved from a database using a REST API.</p>

    <li>Object Oriented Knowledge</li>

    <p class="text-secondary">Addition of a refactored Gas-Station project on Java where I used plenty of objects and design patterns.</p>

    <li>Java</li>

    <p class="text-secondary">Addition of a refactored Gas-Station project on Java where I used plenty of objects and design patterns.</p>

    <li>MVVM/MVC Architectural Patterns</li>

    <p class="text-secondary">Addition of a mobile application for a local business built on Xamarin where the MVVM architecture was used.</p>

    <li>Test-Driven Development</li>

    <p class="text-secondary">All projects above will be built using TDD</p>

    <li>Source Control (Github)</li>

    <p class="text-secondary">Each project will contain a link to personal portfolio repository in Github</p>

    <li>Communication skills/presentation skills</li>

    <p class="text-secondary">Display of good comunication skills throughout all of the projects, some of which started as a group project.</p>
</ul>

<br />

<h4>Present skills:</h4>
<br />
<ul>
    <li>.NET Framework</li>
    <li>SQL and SQL Tools</li>
    <li>REST APIs</li>
    <li>Object Oriented Knowledge</li>
    <li>Java</li>
    <li>MVVM/MVC Architectural Patterns</li>
    <li>Test-Driven Development</li>
    <li>Source Control (Github)</li>
    <li>Communication skills/presentation skills</li>
</ul>


@code {

}
