@page "/skills"

<h3 class="text-primary">Skills</h3>

<h4>Present skills:</h4>
<br />
<ul>
    <li>.NET Framework</li>

    <p class="text-secondary">This skill is demonstrated with this website. It was built using Blazor Pages.</p>

    <li>SQL and SQL Tools</li>

    <p class="text-secondary">This website's contents will be retrieved from a database storage published on the cloud later on.</p>

    <li>REST APIs</li>

    <p class="text-secondary">The information present in this website will retrieved from a database using a REST API.</p>

    <li>Object Oriented Knowledge</li>

    <p class="text-secondary">Addition of a refactored Gas-Station project on Java where I used plenty of objects and design patterns.</p>

    <li>Java</li>

    <p class="text-secondary">Addition of a refactored Gas-Station project on Java where I used plenty of objects and design patterns.</p>

    <li>MVVM/MVC Architectural Patterns</li>

    <p class="text-secondary">Addition of a mobile application for a local business built on Xamarin where the MVVM architecture was used.</p>

    <li>Test-Driven Development</li>

    <p class="text-secondary">All projects above will be built using TDD</p>

    <li>Source Control (Github)</li>

    <p class="text-secondary">Each project will contain a link to personal portfolio repository in Github</p>

    <li>Communication skills/presentation skills</li>

    <p class="text-secondary">Display of good comunication skills throughout all of the projects, some of which started as a group project.</p>
</ul>

<br />

<h4>Skills in progress:</h4>
<br />
<h5>Top priority skills to develop:</h5>
<ul>
    <li>React.js</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Replacement of current GUI on Blazor for one generated using React.js<br />
        Estimated time: 20 hours for intermediate understanding.
    </p>

    <li>HTML/CSS/JS/JSON</li>
    <p class="text-secondary">
        Acquisition: Use of documentation found on academic websites like www.w3schools.com<br />
        Demonstration: HTML and CSS by designing the GUI for this website. JS learned in parallel with React.js. JSON mastered by talking to a backend API
        to retrive data.<br />
        Estimated time: HTML and CSS around 5 hours. JS (see React.js bullet point). JSON around 2 hours.
    </p>

    <li>Python</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Creation of personal projects for the portfolio on this language.<br />
        Estimated time: 10 hours.
    </p>

    <li>React Native</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Modification of personal project for a local business where the Xamarin GUI would be replaced by a React Native GUI<br />
        Estimated time: 20 hours for intermediate understanding.
    </p>

    <li>Javascript and other frameworks</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: See prior demonstrations for React.js and React Native.<br />
        Estimated time: 20 hours for intermediate understanding.
    </p>

    <li>CI/CD</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Creation of a CI/CD environment for personal projects using Azure Cloud Services or Github pages.<br />
        Estimated time: 5 hours.
    </p>

    <li>Swift, Objective-C (*)</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Creation of twin GUI for mobile app for local business.<br />
        Estimated time: 20 hours for intermediate understanding.
    </p>

    <li>Low-Level APIs adn Trading APIs (crypto or security)</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Creation of low-level APIs for projects mentioned above.<br />
        Estimated time: 5-10 hours.
    </p>

    <li>GraphQL</li>
    <p class="text-secondary">
        Acquisition: Use of official documentation and tutorial videos found on PluralSight.<br />
        Demonstration: Utilization for accessing information from the DB across multiple projects.<br />
        Estimated time: 10 hours for intermediate understanding.
    </p>
</ul>

*NOTE: The development of this skill is dependent on the ability to have access to the required hardware.
<br />


@code {

}
