@page "/platforms/{PlatformId:int}"
@inject Portfolio.Blazor.DataProvider.APIService service
@inject NavigationManager NavManager
@using Portfolio.Shared

<h3>@Platform.Name</h3>

List of projects using this platform:

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Requirement</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Project project in ProjectList)
        {
            <tr>
                <td><a class="text-primary" @onclick="() => NavigateToDetailsPage(project.id)">@project.Title</a></td>
                <td>@project.Requirement</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int PlatformId { get; set; }

    public Platform Platform= new Platform();
    public IEnumerable<Project> ProjectList = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        Platform = await service.GetPlatformsByIdAsync(PlatformId);

        ProjectList = await service.GetProjectsByLanguageId(PlatformId);
    }

    public void NavigateToDetailsPage(int id)
    {
        NavManager.NavigateTo("projects/" + id);
    }
}
