@using Portfolio.Blazor.DataProvider
@using Portfolio.Shared.Slug
@using Portfolio.Shared
@inject APIService service

<h3>Add New Project</h3>

<label>Project Title:</label>
<input type="text" @bind="NewProject.Title" />
<br />

<label>Project Requirements:</label>
<br />
<textarea @bind="NewProject.Requirement" />
<br />

<label>Project Design:</label>
<br />
<textarea @bind="NewProject.Design" />
<br />

<label>Project Completion Date:</label>
<br />
<input type="datetime" @bind="NewProject.CompletionDate" />
<br />

<button @onclick="AddNewProject" class="my-button">Add</button>

@code {

    [Parameter]
    public int GreatestId { get; set; }

    [Parameter]
    public EventCallback<Project> ProjectAdded { get; set; }

    Project NewProject;

    protected override void OnInitialized()
    {
        NewProject = new Project();
    }

    public async Task AddNewProject()
    {
        NewProject.Slug = NewProject.Title.ToSlug();
        await service.AddProjectAsync(NewProject);

        await ProjectAdded.InvokeAsync(NewProject);
    }

}
